<script
	src="/tw-elements/js/tw-elements.umd.min.js"
	type="text/javascript"
></script>
<% if (footer) { %>
<footer class="py-12 flex items-center justify-center flex-col bg-gray-900">
	<h3 class="text-blue-500">EdenJobs</h3>
	<h2 class="text-white text-2xl mt-4">Don't miss any job interview invite</h2>
	<p class="text-white mt-2">
		Get job notifications on your email, anytime.
	</p>
	<div
		class="input flex items-center bg-white rounded-2xl overflow-hidden mt-8"
	>
		<i class="fas fa-envelope ml-4"></i>
		<input
			type="email"
			name="email"
			id="email"
			placeholder="yours@example.com"
			class="bg-transparent px-4 py-2 text-base"
		/>
		<button
			id="join"
			class="px-4 py-2 text-base bg-blue-600 text-white cursor-pointer"
		>
			Subscribe
		</button>
	</div>
	<div class="footer-bottom flex mt-8">
		<a href="#" class="relative overflow-hidden">
			<i class="fab fa-linkedin"></i>
		</a>
		<a href="#" class="relative overflow-hidden">
			<i class="fab fa-instagram"></i>
		</a>
		<a href="#" class="relative overflow-hidden">
			<i class="fab fa-facebook"></i>
		</a>
	</div>
	<small class="block text-gray-500 mt-4"
		>&copy; EdenJobs 2023. All rights reserved.</small
	>
</footer>
<% } %>
</script>
<!-- <script src="https://cdn.tailwindcss.com/3.3.0"></script> -->
<!-- <script>
  tailwind.config = {
    darkMode: "class",
    theme: {
      fontFamily: {
        sans: ["Roboto", "sans-serif"],
        body: ["Roboto", "sans-serif"],
        mono: ["ui-monospace", "monospace"],
      },
    },
    corePlugins: {
      preflight: false,
    },
  };
</script> -->

</body>
</html>