<%- include('./partials/head.ejs') %>
<main class="max-w-7xl mx-auto px-5 md:flex flex-row gap-5">
	Applications by applicants
</main>
<li>See accordon list of jobs card</li>
<li>open an accordon to see a table of that job's applications</li>
<li>
	click on view action button (eye icon) to view application details in a modal
</li>
<li>
	click on invite action button (will find icon) to invite the applicant for
	interview
</li>

<%- include('./partials/footer.ejs') %>
