<%- include('./partials/head.ejs') %>
<main class="max-w-7xl mx-auto px-5 md:flex flex-row gap-5">Jobs</main>
<li>See a table of jobs created by you</li>
<li>click on Create job button to created new Job</li>
<li>click on view action button (eye icon) to view a job details in a modal</li>
<li>click on edit action button (pencil icon) to edit a particula job</li>
<%- include('./partials/footer.ejs') %>
